<html>
<h1>Taft</h1>
<p>Upload a word document with curly braces, and upload a json file. Get magical templated response.</p>
<p>Source code available at <a href="https://github.com/vzvenyach/taft">https://github.com/vzvenyach/taft</a>.</p>
<h2>Try it</h2>
<form method="POST" action="/" enctype="multipart/form-data">
    <p><label>Upload a docx file<input type="file" name="docx_file" id="docx_file"></label><p>
    <p><label>Upload a json file<input type="file" name="json_file"></label></p>
    <p><input type="submit"></p>
</form>
<h2>Enjoy!</h2>
<p>This project brought to you by <a href="https://twitter.com/vdavez">@vdavez</a>.</p>
</html>